doctype html 
html(lang='de')
    head 
        link(rel='stylesheet', href='css/form.css')
        script(src='js/login.js' defer)
        title= `Register`
    body 
        .container
            .title__container
                h1.title Login
            input.email(placeholder='E-Mail')
            input.password(placeholder='Password', type='password')
            .btn__container
                a.submit__btn Login