* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c960b0,
    #bb58be,
    #a554cd,
    #8354de,
    #676bee,
    #457ef9,
    #008fff,
    #00afff,
    #00ccff,
    #00e5fd,
    #5ffbf1
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  height: auto;
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  color: #fff;
}

.link__container {
  height: auto;
  width: 30rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.link {
  margin: 0.5rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: #ffffff;
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
  font-weight: 400;
}

.link:hover {
  transform: scale(1.02);
  border: 1px solid black;
}

input {
  margin: 0.5rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: #ffffff;
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
  font-weight: 400;
  height: 3rem;
  border: none;
}

.submit__btn {
  height: 3rem;
  cursor: pointer;
}
